<h1>Form page</h1>
<form action="/form-input" method="POST">
  <label for="titleInput">Title</label>
  <input type="text" name="title" id="titleInput" placeholder="Clean House">

  <label for="description">Description</label>
  <input type="text" name="description" id="description" placeholder="In laws are coming">

  <label for="priority">Priority</label>
  <input type="text" name="priority" id="priority" placeholder="5">
  <button>Add Task</button>
</form>